<%- include('../partials/head.ejs') %>     
            <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable">
                <!-- CONTENT BODY -->
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">
                                Stockholder Table
                            </h1>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="stockholderTable">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Company Name</th>
                                            <th scope="col" class="text-center">Type</th>
                                            <th scope="col" class="text-center"> Address</th>
                                            <th scope="col" class="text-center"> Phone</th>
                                            <th scope="col" class="text-center"> Email</th>
                                            <th scope="col" class="text-center">Is Active</th>
                                            <th scope="col" class="text-center">Created At</th>
                                            <th scope="col" class="text-center">Action</th>
            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let stockholder of stockholders){ %>
                                            <tr>
                                                <td>
                                                    <%=stockholder.name %>
                                                </td>
                                                <td>
                                                    <%=stockholder.type %>
                                                </td>
                                                <td>
                                                    <%=stockholder.address %>
                                                </td>
                                                <td>
                                                    <%=stockholder.phone %>
                                                </td>
                                                <td>
                                                    <%=stockholder.email %>
                                                </td>
                                                <td>
                                                    <input class="form-check-input" 
                                                    type="checkbox" <%= stockholder.status? 'checked': '' %> disabled>
                                                </td>
                                                <td>
                                                    <%=stockholder.createdAt.toLocaleString() %>
                                                </td>
                                                       
                                                <td>
                                                    <button class="btn btn-md btn-warning edit-btn"
                                                        data-name="<%=stockholder.name %>"
                                                        data-type="<%=stockholder.type %>"
                                                        data-address="<%=stockholder.address %>"
                                                        data-phone="<%= stockholder.phone %>"
                                                        data-email="<%= stockholder.email %>"
                                                        data-status="<%=stockholder.status %>"
                                                        data-id="<%=stockholder._id %>"
                                                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        Detail
                                                    </button>
                                                    <% if (user.role =='admin'){ %>
                                                    <a href="/stockholder/delete/<%= stockholder._id %>"
                                                        class="btn btn-md btn-danger">
                                                        Delete
                                                    </a>
                                                    <% } %>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                                <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen-md-down" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Detail Form</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <form id="my-form" action="/stockholder/update" method="POST">
        
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label">Name</label>
                                                        <input type="text" name="name" id="name" class="form-control"
                                                            placeholder="Enter Name" <%= user.role == 'operator'? 'readonly': '' %>>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="type" class="form-label">Stockholder Type</label>
                                                        <input type="text" name="type" id="type" class="form-control"
                                                            placeholder="Enter Stockholder Type" <%= user.role == 'operator'? 'readonly': '' %>>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="address" class="form-label">Address</label>
                                                        <input type="text" name="address" id="address" class="form-control"
                                                            placeholder="Enter Address" <%= user.role == 'Data Entry'? 'readonly': '' %>>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="phone" class="form-label">Phone No</label>
                                                        <input type="text" name="phone" id="phone" class="form-control"
                                                            placeholder="Enter Phone No" <%= user.role == 'Data Entry'? 'readonly': '' %>>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input type="email" name="email" id="email" class="form-control"
                                                            placeholder="Enter Email" <%= user.role == 'operator'? 'readonly': '' %>>
                                                    </div>
                                                    
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="status" id="status"
                                                        <%= user.role == 'operator'? 'disabled': '' %>>
                                                        <label class="form-check-label" for="status">
                                                            Is Active
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="hidden" name="id">
                                                    </div>
                                                    <div class="form-group mr-2 mb-3">
                                                        <input type="submit" value="Update" class="btn btn-sm btn-primary" 
                                                        <%= user.role == 'operator'? 'disabled': '' %>/>
                                                    </div>
            
                                                </form>
        
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <%- include('../partials/alert.ejs') %>
                            <!-- drawer -->
            <%- include('../partials/sidebar.ejs') %> 

        </div>
        <!-- // END drawer-layout -->
    </div>
    <script>
            window.onload = () => {
                let editBtn = document.getElementsByClassName('edit-btn')
                let form = document.getElementById('my-form')
                    ;[...editBtn].forEach(btn => {
                        btn.addEventListener('click', (event) => {
                            console.log('click');
                            let { name, address, phone,email, type, status, id } = event.target.dataset;
                            form[0].value = name
                            form[1].value = type
                            form[2].value = address
                            form[3].value = phone
                            form[4].value = email
                            form[5].checked = status=== 'true'
                            form[6].value = id
                            let $modal = document.querySelector('#exampleModal');
                            $modal.classList.add('fadeIn');
                        })
                    })
            }
    </script>
    <%- include('../partials/footer.ejs') %>