<%- include('../partials/head.ejs') %>     
            <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable">
                <!-- CONTENT BODY -->
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">
                               Change Password Form
                            </h1>
                        </div>
            <div class="card-body">
                <form method="POST" action="/auth/change">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password"
                        class="form-control <%= errors.password? 'is-invalid': '' %>" placeholder="Enter Password">
                        <div class="invalid-feedback text-warning">
                            <%= errors.password %>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="ConfirmPassword"
                        class="form-control <%= errors.confirmPassword? 'is-invalid': '' %>" placeholder="Enter Password">
                        <div class="invalid-feedback text-warning">
                            <%= errors.confirmPassword %>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary" value="Create">
                    </div>
                </form>
                <%- include('./../partials/alert') -%>
            </div>
        </div>
    </div>
    </div>
                <!-- drawer -->
<%- include('../partials/sidebar.ejs') %> 

</div>
</div>
<%- include('../partials/tail.ejs') %> 
<%- include('../partials/footer.ejs') %>