
<%- include('./../partials/head.ejs') -%>
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fw-12 fs-3">Dashboard</div>
            <%- include('./../partials/alert') -%>
        </div>
    </div>
</div>
<%- include('./../partials/tail.ejs') -%>
  </body>
</html>
<%- include('./../partials/navigation.ejs') -%>
<%- include('./../partials/sideNavigation.ejs') -%>