b<%- include('../partials/head.ejs') %> 
<div class="main">
    <div class="contain">
        <div class="card">
            <div class="card-header text-center">
                Import Order Insert Form
            </div>
            <div class="card-body">
                <form action="/importOrder/insert" method="POST">
                    <div class="row my-3">
                        <div class="row col-8">
                            <label for="customer" class="col-3 col-form-label d-block text-end">Customer Name</label>
                            <div class="col-9">
                                <select name="customer" id="customer" class="form-select">
                                    <option value="" selected> </option>
                                    <% for (let exporter of exporters){ %>
                                    <option value="<%= exporter._id %>"> <%= exporter.name %> </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="row col-4">
                            <label for="date" class="col-4 d-block text-end">Date </label>
                            <div class="col-8"><input type="date" name="date" id="date" class="form-control"></div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="row col-4">
                            <label for="product" class="col-6 col-form-label d-block text-end">Product Name</label>
                            <div class="col-6">
                                <select name="product" id="product" class="form-select">
                                    <option value="" selected> </option>
                                    <% for (let product of products){ %>
                                    <option value="<%= product._id %>"> <%= product.productName %> </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="row col-4">
                            <label for="quantity" class="col-6 col-form-label d-block text-end">Quantity</label>
                            <div class="col-6">
                                <input type="number" id="quantity" name="quantity" class="form-control">
                            </div>
                        </div>
                        <div class="row col-4">
                            <label for="totalPrice" class="col-6 col-form-label d-block text-end">Total Price</label>
                            <div class="col-6">
                                <input type="number" id="totalPrice" name="totalPrice" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="card">
                            <div class="card-header">
                                Cost Insert Form
                            </div>
                            <div class="card-body row">
                                <div class="row col-5">
                                    <label for="costDescription" class="col-6 col-form-label d-block text-end">Cost Description</label>
                                    <div class="col-6">
                                        <input type="text" id="costDescription" name="costDescription" class="form-control">
                                    </div>
                                </div>
                                <div class="row col-5">
                                    <label for="amount" class="col-6 col-form-label d-block text-end">Amount</label>
                                    <div class="col-6">
                                        <input type="number" id="amount" name="amount" class="form-control">
                                    </div>
                                </div>
                                <div class="row col-2">
                                    <div class="col"><button id="costAdd" class="btn btn-primary"
                                        form="form1">Add</button>
                                    </div>
                                    <div class="col"><button id="costReset" form="form1"
                                            class="btn btn-warning">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-container">
                        <div class="card my-2">
                            <div class="card-header text-center fw-4 fs-4">Cost Table</div>
                            <div class="card-body scroll">
                                <table class="table" id="CostTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cost Description</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col d-block text-end"><input type="button" id="resetImport" value="Reset" class="btn btn-danger">
                        </div>
                        <div class="col d-block text-end"><input type="submit" form="saleForm" value="Sale" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/tail.ejs') %> 
<script src="/static/js/buy.js"></script>
</body>
</html>