<%- include('./../partials/head.ejs') %>
    <div class="main">
        <div class="container">
            <div class="card">
                <div class="card-header text-center">
                    <%= title %>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="productTable" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Unit Type</th>
                                    <th scope="col">stock</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let product of products){ %>
                                    <tr>
                                        <td><%=product.productName %></td>
                                        <td><%=product.price %></td>
                                        <td><%= product.unitType %></td>
                                        <td><%=product.stock %></td>
                                        <td>
                                            <button class="btn btn-md btn-warning edit-btn"
                                                data-product="<%= product.productName %>"
                                                data-price="<%=product.price %>"
                                                data-unitType="<%=product.unitType %>"
                                                data-stock="<%= product.stock %>"
                                                data-id="<%=product._id %>" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                Detail
                                            </button>
                                            <% if (user.role=='admin' ){ %>
                                                <a href="/product/delete/<%= product._id %>"
                                                    class="btn btn-md btn-danger">
                                                    Delete
                                                </a>
                                                <% } %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>

                        </table>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail Form</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="my-form" action="/product/update" method="POST">
                                            <div class="mb-3">
                                                <label for="productName" class="form-label">Product Name</label>
                                                <input type="text" name="productName" id="productName"
                                                    class="form-control" placeholder="Enter Product Name"
                                                    <%=user.role=='admin' ? '' : 'readonly' %> >
                                            </div>
                                            <div class="mb-3">
                                                <label for="price" class="form-label">Price</label>
                                                <input type="number" name="price" id="price" class="form-control"
                                                    placeholder="Enter Price" <%=user.role=='admin' ?'' : 'readonly' %>>
                                            </div>
                                            <div class="mb-3">
                                                <label for="unitType" class="form-label">Unit Type</label>
                                                <input type="text" name="unitType" id="unitType"
                                                    class="form-control" placeholder="Enter Unit Type"
                                                    <%=user.role=='admin' ? '' : 'readonly' %>>
                                            </div>
                                            <div class="mb-3">
                                                <label for="stock" class="form-label">Stock</label>
                                                <input type="number" name="stock"
                                                    id="stock" class="form-control"
                                                    placeholder="Enter Product Stock"
                                                    <%=user.role=='admin' ? '' : 'readonly' %>>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" name="id">
                                            </div>
                                            <div class="form-group mr-2 mb-3">
                                                <input type="submit" value="Update" class="btn btn-sm btn-primary"
                                                    <%=user.role=='oprator' ? 'disabled' : '' %>/>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./../partials/tail.ejs') %>
        <script>
            $(document).ready(function () {
                $('#productTable').DataTable();
            });
            window.onload = () => {
                let editBtn = document.getElementsByClassName('edit-btn')
                let form = document.getElementById('my-form')
                    ;[...editBtn].forEach(btn => {
                        btn.addEventListener('click', (event) => {
                            let {
                                product,
                                price,
                                stock,
                                unittype,
                                id
                            } = event.target.dataset;
                            form[0].value = product
                            form[1].value = price
                            form[2].value = unittype
                            form[3].value = stock
                            form[4].value = id
                        })
                    })
            }
        </script>
        </body>

        </html>