<%- include('../partials/head.ejs') %>     
            <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable">
                <!-- CONTENT BODY -->
                <div class="container-fluid">
                    <div class="card-deck">
                        <div class="card p-2 pl-3 pr-3">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <h3 class="mb-0">&#2547; <span id="stockQuantity"></span></h3>
                                    <span>Stock Quantity</span>
                                </div>
                            </div>
                        </div>
                        <div class="card p-2 pl-3 pr-3">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <h3 class="mb-0">&#2547; <span id="stockPrice"></span></h3>
                                    <span>Stock Value</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="stockQuantity"></div>
                                    <div class="col" id="stockPrice"></div> -->
                    <div class="card my-3">
                        <div class="card-header">
                            <h1 class="card-title">
                                Product Table
                            </h1>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="productTable">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Serial No</th>
                                            <th scope="col" class="text-center">Product Name</th>
                                            <th scope="col" class="text-center">Price</th>
                                            <th scope="col" class="text-center">Unit Type</th>
                                            <th scope="col" class="text-center">Purchase Quantity</th>
                                            <th scope="col" class="text-center">Sale Quantity</th>
                                            <th scope="col" class="text-center">Stock Quantity</th>
                                            <th scope="col" class="text-center">Stock Value</th>
                                            <th scope="col" class="text-left">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let i=products.length; for (let product of products){ %>
                                            <tr>
                                                <td class="align-middle text-center"><%= i-- %></td>
                                                <td class="align-middle text-center"><%= product.productName %></td>
                                                <td class="align-middle text-center">&#2547; <%= product.price %></td>
                                                <td class="align-middle text-center"><%= product.unitType %></td>
                                                <td class="align-middle text-center"><%= product.buy %></td>
                                                <td class="align-middle text-center"><%= product.sale %></td>
                                                <td class="align-middle text-center"><%= product.stock %></td>
                                                <td class="align-middle text-center">&#2547; <%= product.stock*product.price %></td>
                                                <td class="align-middle text-right">
                                                    <div class="d-flex">
                                                        <button class="btn btn-sm btn-white edit-btn mr-1"
                                                        data-product="<%= product.productName %>"
                                                        data-price="<%=product.price %>"
                                                        data-unitType="<%=product.unitType %>"
                                                        data-stock="<%= product.stock %>"
                                                        data-id="<%=product._id %>" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal">
                                                        <i class="material-icons md-14 align-middle">edit</i>
                                                    </button>
                                                    <% if (user.role=='admin' ){ %>
                                                        <a href="/product/delete/<%= product._id %>"
                                                            class="btn btn-sm btn-danger">
                                                            <i class="material-icons md-14 align-middle">delete</i>
                                                        </a>
                                                        <% } %>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                                <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail Form</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="my-form" action="/product/update" method="POST">
                                            <div class="mb-3">
                                                <label for="productName" class="form-label">Product Name</label>
                                                <input type="text" name="productName" id="productName"
                                                    class="form-control" placeholder="Enter Product Name"
                                                    <%=user.role=='admin' ? '' : 'readonly' %> >
                                            </div>
                                            <div class="mb-3">
                                                <label for="price" class="form-label">Price</label>
                                                <input type="number" name="price" id="price" class="form-control"
                                                    placeholder="Enter Price" <%=user.role=='admin' ?'' : 'readonly' %>>
                                            </div>
                                            <div class="mb-3">
                                                <label for="unitType" class="form-label">Unit Type</label>
                                                <input type="text" name="unitType" id="unitType"
                                                    class="form-control" placeholder="Enter Unit Type"
                                                    <%=user.role=='admin' ? '' : 'readonly' %>>
                                            </div>
                                            <div class="mb-3">
                                                <label for="stock" class="form-label">Stock</label>
                                                <input type="number" name="stock"
                                                    id="stock" class="form-control"
                                                    placeholder="Enter Product Stock"
                                                    <%=user.role=='admin' ? '' : 'readonly' %>>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" name="id">
                                            </div>
                                            <div class="form-group mr-2 mb-3">
                                                <input type="submit" value="Update" class="btn btn-sm btn-primary"
                                                    <%=user.role=='oprator' ? 'disabled' : '' %>/>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <%- include('../partials/alert.ejs') %>
                            <!-- drawer -->
            <%- include('../partials/sidebar.ejs') %> 

        </div>
        <!-- // END drawer-layout -->
    </div>
    <%- include('../partials/tail.ejs') %> 
    <script>
        $(document).ready(()=>{
            $('#productTable').DataTable({
                order: [[0,'desc']],
                footerCallback: function(tfoot,data,start,end,display){
                let api = this.api();
                $('#stockQuantity').html(
                    api.column(6,{search:'applied'}).data().reduce((a,b)=> parseInt(a)+parseInt(b),0).toLocaleString()
                );
                $('#stockPrice').html(
                    api.column(7,{search:'applied'}).data().reduce((a,b)=> parseInt(a)+parseInt(b.split(' ')[1]),0).toLocaleString()
                );
            }
            })
        })
        let editBtn = document.getElementsByClassName('edit-btn')
        let form = document.getElementById('my-form')
        ;[...editBtn].forEach(btn => {
            btn.addEventListener('click', (event) => {
                let $this = event.target;
                console.log('clicked');
                let {
                    product,
                    price,
                    stock,
                    unittype,
                    id
                } = event.target.dataset;
                form[0].value = product
                form[1].value = price
                form[2].value = unittype
                form[3].value = stock
                form[4].value = id
                //$this.closest('.modal').classList.remove('fade').classList.add('fadeIn');
                let $modal = document.querySelector('#exampleModal');
                // $modal.classList.remove('fade');
                $modal.classList.add('fadeIn');
                // $modal.fadeIn();
                //$modal.toggleClass('fadeIn');


            })
        })
    </script>
    <%- include('../partials/footer.ejs') %>