<%- include('../partials/head.ejs') %>     
            <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable">
                <!-- CONTENT BODY -->
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">
                                Product Table
                            </h1>
                        </div>
                        <div class="card-body">
                    <form action="/product/insert" method="POST">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" name="productName" id="productName"
                                class="form-control <%= errors.productName? 'is-invalid': '' %>" placeholder="Enter Product Name">
                            <div class="invalid-feedback text-warning">
                                <%= errors.productName %>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="unitType" class="form-label">Unit Type</label>
                            <input type="text" name="unitType" id="unitType"
                                class="form-control <%= errors.unitType? 'is-invalid': '' %>" placeholder="Enter Product  Unit Type">
                            <div class="invalid-feedback text-warning">
                                <%= errors.unitType %>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">price</label>
                            <input type="number" name="price" id="price" class="form-control"
                                placeholder="Enter Price Amount">
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="submit" class="btn btn-primary" value="Create">
                        </div>

                    </form>
                    <%- include('./../partials/alert') -%>
                </div>
                    </div>
                </div>
                </div>
                            <!-- drawer -->
            <%- include('../partials/sidebar.ejs') %> 

        </div>
    </div>
    <%- include('../partials/tail.ejs') %> 
    <%- include('../partials/footer.ejs') %>