<%- include('../partials/head.ejs') %>     
            <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable">
                <!-- CONTENT BODY -->
                <div class="container-fluid ui-grid">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Sale Form</h3>
                        </div>
                        <div class="card-body">
                            <form action="/sale/insert" method="POST" id="saleForm">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <div class="row my-3">
                                            <div class="col-1"></div>
                                            <div class="row col-4">
                                                <label for="customer" class="col-6 col-form-label d-block text-end">Customer Name</label>
                                                <div class="col-6">
                                                    <select name="customer" id="customer" class="form-select">
                                                        <option value="" selected> </option>
                                                        <% for (let customer of customers){ %>
                                                        <option value="<%= customer._id %>"> <%= customer.name %> </option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row col-4">
                                                <label for="date" class="col-6 d-block text-end">Date </label>
                                                <div class="col-6"><input type="date" name="date" id="date" class="form-control"></div>
                                            </div>
                                            <div class="col-3"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col-2">
                                            <div class="my-2">
                                                <label for="p">Product</label>
                                                <div>
                                                    <select name="p" id="p" class="form-select">
                                                        <option value="" selected></option>
                                                        <% for (let product of products){ %>
                                                            <option value="<%= product.price %>" 
                                                                data-unittype="<%= product.unitType %>" 
                                                                data-id="<%= product._id %>" 
                                                                data-price="<%= product.price %>"
                                                                data-stock="<%= product.stock %>"
                                                                data-costingprice="<%= product.costingPrice %>" >
                                                                <%= product.productName %>
                                                            </option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-2">
                                            <div class="my-2">
                                                <label for="pricePerUnit">price/Unit</label>
                                                <div class="row">
                                                    <input type="number" name="pricePerUnit" id="pricePerUnit" class="form-control col-8">
                                                    <input type="text" name="unitType" id="unitType" class="form-control col-4" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="my-2">
                                                <label for="unit">Unit</label>
                                                <div>
                                                    <input type="number" name="unit" id="unit" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="my-2">
                                                <label for="price" class="">Total Price</label>
                                                <div class="">
                                                    <input type="number" name="price" id="price" class="form-control"
                                                        readonly>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <input type="hidden" name="id" id="id" >
                                        <input type="hidden" name="costingPrice" id="costingPrice" >
                                        <input type="hidden" name="stock" id="stock">
                                        <input type="hidden" name="profit" id="profit">
                                        <div class="col-2">
                                            <div class="row my-4">
                                                <div class="col"><button id="itemAdd" class="btn btn-primary"
                                                    form="form1">Add</button>
                                                </div>
                                                <div class="col"><button id="resetItem" form="form1"
                                                        class="btn btn-warning">Reset</button>
                                                </div>
                                            </div>
                                                
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </div>
                                
                                <div class="table-container">
                                    <div class="card my-2">
                                        <div class="card-header text-center fw-4 fs-4">Sale Item Table</div>
                                        <div class="card-body scroll">
                                            <table class="table" id="productTable" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="align-middle text-left">Product Id</th>
                                                        <th scope="col" class="align-middle text-left">Product Name</th>
                                                        <th scope="col" class="align-middle text-right">Price/Unit</th>
                                                        <th scope="col" class="align-middle text-right">Quantity</th>
                                                        <th scope="col" class="align-middle text-right">Price</th>
                                                        <th scope="col" class="align-middle text-right">Action</th>
                                                        <th style="display:none;">Profit</th>
                                                        <!-- <th scope="col" class="align-middle text-right">Profit</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="comment" class="col-form-label">Note</label>
                                        <div class="">
                                            <input type="textarea" name="comment" id="comment" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row my-2">
                                            <div class="col my-2">
                                                <label for="shippingCost" class="d-block text-end">Shipping Cost</label>
                                            </div>
                                            <div class="col">
                                                <input type="number" name="shippingCost" id="shippingCost" value="0" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col my-2">
                                                <label for="payable" class="d-block text-end fs-5 fw-5">Total</label>
                                            </div>
                                            <div class="col">
                                                <input type="number" name="payable" id="payable" value="0" class="form-control"
                                                    readonly>
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col my-2"><label for="discount" class="d-block text-end">Discount</label></div>
                                            <div class="col"><input type="number" name="discount" id="discount" value="0"
                                                    class="form-control"></div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col my-2"><label for="paid" class="d-block text-end">Paid</label></div>
                                            <div class="col"><input type="number" name="paid" id="paid" value="0"
                                                    class="form-control"></div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col my-2"><label for="due" class="d-block text-end">Due</label></div>
                                            <div class="col"><input type="number" name="due" id="due" class="form-control" readonly>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                
                                <div class="invisible">
                                    <input type="text" name="itemId[]" id="itemId" />
                                    <input type="text" name="item[]" id="item" />
                                    <input type="text" name="itemPrice[]" id="itemPrice" />
                                    <input type="text" name="itemUnit[]" id="itemUnit"/>
                                    <input type="text" name="itemTotal[]" id="itemTotal" />
                                    <input type="text" name="totalProfit" id="totalProfit" />
                                </div>
                                
                                <div class="row my-2">
                                    <div class="col-1"></div>
                                    <div class="col">
                                        <label for="paymentType" class="col-form-label">Payment Type</label>
                                        <select name="paymentType" id="paymentType" class="form-select">
                                            <option value="Check">Check</option>
                                            <option value="Cash" selected>Cash</option>
                                            <option value="Online Banking" >Online Banking</option>
                                            <option value="Mobile Banking" >Mobile Banking</option>
                                        </select>
                                    </div>
                                   
                                    <div class="col">
                                        <label for="paymentRef" class="col col-form-label">payment Reference</label>
                                        <input type="text" name="paymentRef" id="paymentRef" class="form-control col">
                                    </div>
                                    <div class="col" id="optional" style="visibility: hidden;">
                                        <label for="depositDate" class="col col-form-label">Deposite Date</label>
                                        <input type="date" name="depositDate" id="depositDate" class="form-control col">
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-1"></div>
                                    <div class="col d-block text-start"><input type="button" id="resetSale" value="Reset" class="btn btn-danger">
                                    </div>
                                    <div class="col d-block text-end"><input type="submit" form="saleForm" value="Sale" class="btn btn-primary">
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/alert.ejs') %>

            <!-- drawer -->
            <%- include('../partials/sidebar.ejs') %> 

        </div>
        <!-- // END drawer-layout -->
    </div>
    <%- include('../partials/tail.ejs') %> 
    <script src="/assets/js/sale.js"></script>
   <%- include('../partials/footer.ejs') %>
